.profile-content-container {
    background-color: var(--background-07);
    border-radius: 50px;
    min-height: 80vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: slideInFromLeft 1s ease forwards;
}

.profile-greetings {
    display: flex;
    gap: 3vh;
    flex-direction: row;
    height: fit-content;
    padding: 5vh;
}

.profile-greetings > img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.greeting-text-container {
    display: flex;
    flex-direction: column;
    gap: 0
}

.greeting-text-container > h2 {
    color: var(--gray2);
    text-transform: uppercase;
    font-size: x-large;
}

.greeting-text-container > h1 {
    color: var(--white-text);
    font-size: xxx-large;
    margin: 0;
}

.greeting-text-container > h3 {
    color: var(--gray2);
    font-size: medium;
    margin-top: 10px;
}

.left-section {
    width: 90%;
    display: flex;
    justify-content: center;
}

.stats-section {
    background-color: var(--background-07);
    border: solid 1px var(--darkgray);
    box-shadow: var(--shadow);
    min-height: 50vh;
    min-width: 40vh;
    height: fit-content;
    border-radius: 25px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.stats-image {
    position: relative;
    z-index: 9;
    top: -8vh;
    left: -17vh;
    width: 500px;
    height: auto;
    rotate: -25deg;
}

.cuisine {
    margin-top: -25vh;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.cuisine-name {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.cuisine-value {
    color: var(--white-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6vh;
}

.cuisine-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.stats-value {
    color: var(--white-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}

.stats-name {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

.user-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.side-divider {
    border-left: solid 2px var(--gray);
    border-right: solid 2px var(--gray);
}

.mid-section {
    width: 120%;
    display: flex;
    flex-direction: column;
}

.profile-meals-section {
    height: 45vh;
    background-color: var(--background-07);
    border-radius: 0 40px 40px 40px;
    border: solid 1px var(--darkgray);
    box-shadow: var(--shadow);
    overflow-y: scroll;
}

.meal-tab {
    background-color: var(--background-07);
    height: 40px;
    width: 80px;
    border-radius: 20px 0 0 0;
    border: solid 1px var(--darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}

.meal-tab:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.1);
    border: solid 1px var(--gray);
    color: var(--white-text);
}

.tab1 {
    border-radius: 20px 0 0 0;
}

.tab2 {
    border-radius: 0 20px 0 0;
}

.active-tab {
    background-color: rgb(255, 255, 255, 0.1);
    border: solid 1px var(--gray);
    color: var(--white-text);
}

.right-section {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5vh;
    margin-top: 8vh;
}

.activity-label {
    color: var(--clr-primary);
    font-size: x-large;
}

.activities-container {
    overflow-y: scroll;
    height: 60vh;
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .profile-content-container {
        flex-direction: column;
    }
}