#App-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(25px + 2vmin);
    color: var(--white-text);
    min-height: 5vh;
    background-color: var(--background-03);
    padding: 1rem;
}

#Header {
    position: sticky;
    z-index: 5;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(15px + 1vmin);
    color: var(--white-text);
    min-height: 5vh;
    background-color: var(--background-07);
    padding: 1rem;
    border-radius: 80px;
    margin: 0 5px 10px 5px;
    box-shadow: rgb(0, 0, 0) 0 20px 30px -10px;
}

#Header > * {
    margin-left: 30px;
}

.header-items-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 5rem;
    display: flex;
    gap: 5rem;
    animation: slideInFromTop 1s ease forwards;
}

.header-menu li {
    padding: 7px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: medium;
    color: var(--silver);
    background-clip: text;
}

.header-menu li:hover {
    color: var(--white-text);
    text-shadow: var(--white-text) 1px 0 15px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: slideInFromRight 1s ease forwards;
}

.notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-right: 10rem;
    animation: slideInFromRight 1s ease forwards;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image > img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.hamburger {
    position: relative;
    width: 35px;
    height: 15px;
    border-top: 4px solid var(--silver);
    cursor: pointer;
}

.hamburger:hover {
    border-color: var(--white-border);
}

.hamburger:hover::after {
    width: 40%;
    border-color: var(--white-border);
}

.hamburger::after {
    content: '.';
    color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 4px solid var(--silver);
    transition: 0.2s ease-in-out;
}

.notification-icon > * {
    color: var(--silver);
}

.notification-icon > *:hover {
    color: var(--white-text);
}

@media screen and (max-width: 768px) {
    .button-container {
        gap: 2px;
    }
}