#Alert {
    box-shadow: 0 0 15px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 9;
}

.success {
    background-color: rgb(52, 168, 83, 0.9);
    color: green;
}

.warning {
    background-color: rgb(255, 255, 0, 0.9);
    color: #DBA800;
}

.danger {
    background-color: rgb(241, 128, 126, 0.9);
    color: red;
}

.alert-content {
    margin: 1vh 4vh;
    display: flex;
    flex-direction: column;
}

.alert-title {
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    flex-direction: row;
    text-align: center;
}

.alert-content > h3 {
    font-size: 1.5vh;
}

.close-button {
    margin-top: 2vh;
    margin-right: 2vh;
}

.close-button:hover {
    filter: drop-shadow(0 0 8px);
    rotate: 5deg;
    cursor: pointer;
}

.visible {
    animation: slideInFromTop 0.5s ease forwards;
}

.non-visible {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
    100% {
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .alert-content {
        display: flex;
        flex-direction: column;
    }

    .alert-title {
        font-size: 1vh;
    }

    .alert-content > h3 {
        font-size: 1.5vh;
    }

}