:root {
  --clr-primary: #03a84e;
  --clr-primary-gaslight: rgb(3, 168, 78, 0.3);
  --clr-primary-third: #90EE90;
  --clr-secondary-a60: hsla(0, 6%, 1%, 0.6);
  --gray: gray;
  --gray2: darkgray;
  --white-text: white;
  --white-border: white;
  --footer-color: black;
  --background-03: rgb(0, 0, 0, 0.3);
  --background-07: rgb(0, 0, 0, 0.7);
  --darkgray: #171614;
  --app-black: black;
  --shadow: rgb(0, 0, 0) -20px 20px 30px -10px;
  --silver: silver;
}

::-webkit-scrollbar {
  display: none;
}

.green-text {
  color: var(--clr-primary);
}

.padding10 {
  padding: 10rem;
}

@keyframes backgroundAnimation {
  0% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at bottom, var(--clr-primary), black);
  }
  10% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 90%, var(--clr-primary), black);
  }
  20% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 80%, var(--clr-primary), black);
  }
  30% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 70%, var(--clr-primary), black);
  }
  40% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 60%, var(--clr-primary), black);
  }
  50% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle, var(--clr-primary), black);
  }
  60% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 40%, var(--clr-primary), black);
  }
  70% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 30%, var(--clr-primary), black);
  }
  80% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 20%, var(--clr-primary), black);
  }
  90% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at 50% 10%, var(--clr-primary), black);
  }
  100% {
    background-image: linear-gradient(to top, var(--clr-primary-third), var(--clr-secondary-a60)), radial-gradient(circle at top, var(--clr-primary), black);
  }
}


.link {
  color: var(--clr-primary);
}

.link:hover {
  color: var(--clr-primary-gaslight);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
