#SignForm {
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border-radius: 15px;
    min-height: 70vh;
    min-width: 70vh;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideInFromTop 1s ease forwards;
}

.inputs-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}

.form-title {
    margin-top: 5vh;
    color: var(--gray);
    font-size: 64px;
}

.remind-password {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    color: var(--gray);
    padding-bottom: 4vh;
}

.divider {
    margin-top: 4vh;
    margin-bottom: 1vh;
    color: var(--gray);
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 1.5vh;
}

.divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: var(--gray);
    margin: 15px 10px 10px;
}

.icon-border {
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 3px;
    border-radius: 100%;
}

.facebook {
    color: #0679e6;
}

.icon-border:hover {
    box-shadow: 0 0 7px inset, 0 0 7px;
    animation: rotate 0.4s ease-in-out;
}

.icon-border:hover > * {
    filter: drop-shadow(0 0 7px);
}

.google {
    color: #34A853;
}

@keyframes rotate {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 768px) {
    #SignForm > #Footer {
        display: none;
    }

    .form-container {
        border-radius: 0;
        min-height: 100vh;
        min-width: 100%;
        display: flex;
    }

    .inputs-container {
        gap: 6vh;
    }

    .form-title {
        margin-top: 0;
        font-size: 48px;
    }

    .remind-password {
        margin-top: 5vh;
        padding-bottom: 4vh;
    }
}