.button {
    border-radius: 15px;
    padding: 18px 38px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--white-text);
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(0.95);
    background-color: var(--clr-primary-gaslight);
}

.disabled {
    transform: scale(0.95);
    background-color: var(--clr-primary-gaslight);
    width: 70%;
    cursor: not-allowed;
    border: solid 1px var(--white-border);
    transition: transform 1s ease;
}

.default-button {
    background-color: var(--clr-primary);
    border: var(--clr-primary);
    transition: transform 0.5s ease;
}

.default-button:hover {
    border: solid 1px var(--white-border);
}

.outline-button {
    background-color: transparent;
    border: solid 1px var(--white-border);
}

.outline-button:hover {
    border: var(--clr-primary);
}

.form-button {
    background-color: var(--clr-primary);
    border: var(--clr-primary);
    width: 70%;
    transition: transform 0.3s ease;
}

.form-button:hover {
    border: solid 1px var(--white-border);
}

@media screen and (max-width: 768px) {
    .button {
        padding: 9px 19px;
        font-size: 10px;
    }
}