.list-element {
    display: flex;
    flex-direction: row;
    border: solid 1px #171614;
}

.list-element:hover {
    border-color: var(--clr-primary);
    background-color: black;
    cursor: pointer;
}

#List:has(div:hover) div:not(:hover) {
    filter: grayscale(0.3);
    border-color: black;
    scale: 0.99;
}

.list-element > * {
    margin: 5px;
}

.list-image {
    width: 12vh;
    height: 10vh;
    object-fit: cover;
    border-radius: 10px;
}

.meal-name {
    color: var(--clr-primary);
    font-size: large;
    width: 250px;
    font-weight: bold;
}

.meal-description {
    color: var(--gray);
    font-size: medium;
}

.list-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.list-meal-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
}

.details-value {
    color: var(--clr-primary);
    font-size: small;
}

.details-description {
    color: var(--gray);
    font-size: small;
}