.list-element {
    display: flex;
    flex-direction: row;
    border: solid 1px var(--darkgray);
}

.list-element:hover {
    border-color: var(--clr-primary);
    background-color: var(--app-black);
    cursor: pointer;
}

#List:has(.list-element:hover) .list-element:not(:hover) {
    filter: grayscale(0.3);
    border-color: var(--app-black);
    scale: 0.99;
}

.list-element > * {
    margin: 5px;
}

.list-image {
    width: 12vh;
    height: 10vh;
    object-fit: cover;
    border-radius: 10px;
}

.meal-name {
    color: var(--clr-primary);
    font-size: large;
    width: 20vh;
    font-weight: bold;
}

.meal-description {
    color: var(--gray);
    font-size: medium;
}

.list-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    margin-right: 2vh;
}

.list-meal-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 20vh;
}

.details-value {
    color: var(--clr-primary);
    font-size: small;
}

.details-description {
    color: var(--gray);
    font-size: small;
}